<launch>
<arg name="tf_prefix" default=""/>

  <node pkg="iai_naive_kinematics_sim" type="map_odom_transform_publisher.py" name="map_odom_transform_publisher" output="screen">
    <param name="parent_frame" value="map"/>
    <param name="child_frame" value="$(arg tf_prefix)odom_combined"/>
  </node>

  <include file="$(find cram_projection_demos)/launch/everything.launch">
    <arg name="pr2" value="false"/>
    <arg name="apartment" value="true"/>
    <arg name="upload_robot" value="false"/>
    <arg name="publish_robot" value="false"/>
    <arg name="occupancy_map" value="true"/>
    <arg name="tf2_buffer" value="false"/>
  </include>
  
</launch>
